body{
    background: #8e97a4;
    height: 655px;
    display: flex;
    justify-content: center;
    overflow: hidden; 
}


main{
    display: flex;
    width: 70%;
    height: 70%;
    margin-left: -20px;
    margin-top: 40px;
}

.Illust1{
    width: 100%;
    height: 50%;
    border-top-left-radius: 7px;
}

.Illust2{
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 7px;
}


.Illust3{
    width: 100%;
    height: 50%;
    border-top-right-radius: 7px;
}

.Illust4{
    width: 100%;
    height: 50%;
    border-bottom-right-radius: 7px;
}


.Il-gh{
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
}


.Il-dt{
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.ensemble{
    display: flex;
    width: 65%;
}

.Illustate{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 91%;
    padding: 4%;
    border-radius: 7px;
    background: #76edf6;
}

.imSecG{
    width: 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todos{
    height: 55%;
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    background: #f2f3f4;
    border-radius: 7px;
    border: 1px solid #8e97a4;

}

.smiling{
    width: 45px;
    height: 45px;
    border-radius: 50px;
}

.meteo{
    width: 100px;
    height: 60px;
}

.vent{
    width: 50px;
    height: 30px;
}

.silent{
    width: 25px;
    height: 25px;
}


.horaireIcone{
    margin-left: -30px;
    margin-top: -30px;
    width: 120px;
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.horaire{
    margin-top: -30px;
}

.title{
    font-size: 12px;
}

.Dt{
    width: 41%;
    height: 92%;
    color: white;
    background: #8783ef;
    border-radius: 7px;
    padding: 4%;
}

.heure{
    font-size: 30px;
}

.Gh{
    height: 100%;
    width: 53%;
}

.gauche{
    width: 50%;
    display: flex;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

.yout{
    width: 25px;
    height: 25px;
}

.traiManet{
    width: 25px;
    height: 2px;
    background-color: rgb(180, 65, 225);
}

.manety{
    height: 45px;
    width: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.yout:hover{
    text-decoration-line: underline;
    padding: 4px;
    border-radius: 50px;
    background: royalblue;
}

.silent:hover{
    width: 35px;
    height: 35px;
}

.zoomface{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.Bloc{
    width: 89%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    border: 2px solid #8e97a4;
    background: #f2f4f5;
    border-radius: 7px;
    padding: 5%;
}



.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* .bloc1{
    background-image: url(violetGrant.jpg);
} */

.play{
    width: 70%;
    margin-top: -140px;
    justify-content: end;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

.Bton:hover{
    background: royalblue;
    width: 19%;
}

.listP{
    color: black;
}
.Bton{
    border: 1px black;
    border-radius: 50px;
}

.div2bloc{
    width: 99%;
    display: flex;
    justify-content: center;
    border-radius: 7px;
}

.violet1{
    width: 50%;
    height: 85%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.violet2{
    width: 50%;
    height: 85%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.Img{
    display: flex;
    width: 100%;
    height: 295px;
}

.Droite{
    width: 50%;
    flex-wrap: nowrap;
}

.divManet{
    width: 97%;
}

.Manet{
    width: 100%;
    height: 100%;
}

.ManetButtn{
    width: 90%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -390px;
}

.headBloc{
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 40px;
}

.Bton{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    width: 20%;
    height: 42px;
    border-radius: 50px;
    background: #eaebf1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: -80px;
}

.yout2{
    width: 17%;
    height: 30%;
}

a{
    text-decoration: none;
    color: black;
}

.digital{
    width: 35%;
    font-size: 50px;
    margin-left: 80px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.contDt{
    height: 97%;
    width: 100%;
}

p{
    font-size: 14px;
}

h1{
    font-size: 33px;
}

.lamp{
    position: absolute;
    z-index: 100px;
    width: 230px;
    height: 230px;
    margin-left: -555px;
    margin-top: 285px;
} 

.carreau{
    z-index: -100;
    position: absolute;
    width: 1930px;
    height: 400px;
    margin: 10px;
    margin-top: 420px;
    margin-left: -30px;
}
 